<div class="navbar-section">
  <div class="navbar-main">
    <nav class="container navbar navbar-expand-md">
      <div class="navbar-brand">
        <a class="navbar-brand" href="#">
          <img src="assets/images/acme-logo.png" loading="lazy">
        </a>
        <div class="navbar-tagline border-right d-none d-md-block">
          <div class="sub-text">Research Professional</div>
          <div class="headline">Platform</div>
        </div>
      </div>
      <button
        (click)="collapse = !collapse"
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="material-icons text-danger" *ngIf="!collapse">clear</span>
        <span class="material-icons" *ngIf="collapse">menu</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [collapse]="collapse" [isAnimated]="true">
        <ul class="navbar-nav">
          <li class="nav-item active d-md-none site-link" *ngIf="!collapse">
            <a class="nav-link" href="#">Site Links <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Insights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<!-- Landing Content -->

<div class="landing-content">
  <div class="container research d-block d-md-none">Research Platform Message</div>
  <div class="container d-flex align-items-center h-100">
    <div class="w-50 text-white">
      <h1 class="mb-xl-3">
        <span class="acme-wealth">ACME Wealth </span>
        Management Platforms
      </h1>
      <div class="dotted-line d-block d-md-none">.    .      .      .       .     . </div>
      <div class="mt-4 mt-xl-0 sub-text">Investment excellence.</div>
      <div class="sub-text">Diversity of thought.</div>
      <div class="sub-text">Organizational strength.</div>
    </div>
  </div>
</div>

<!-- ACME Insights -->
<div class="acme-insights container py-3">
  <div class="title">ACME Insights</div>
  <div class="sub-text">How are factors being used around the world?</div>
  <div class="scroll-container">
    <div class="d-flex align-items-center justify-content-center mt-3">
      <div class="acme-card">
        <div class="acme-body">
          <img src="assets/images/first.jpg">
        </div>
        <div class="acme-footer">
          Global Factor <br>
          Investing Study
        </div>
      </div>

      <div class="acme-card green">
        <div class="acme-body">
          <img src="assets/images/second.jpg">
        </div>
        <div class="acme-footer">
          2019 <br> Outlook
        </div>
      </div>

      <div class="acme-card light-blue">
        <div class="acme-body">
          <img src="assets/images/third.jpg">
        </div>
        <div class="acme-footer">
          Capital <br> Market
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Commitment to Professionals -->
<div class="commitment-section d-flex align-items-center justify-content-center">
  <div class="w-50 text-center text-white">
    <h1>Our Commitment to Professionals</h1>
    <p class="font-weight-light">
      We help our partners deliver industry leading results with a commitment to excellence, thought-provoking
      and experienced distribution. We are laser focused on our shared goal - helping clients achieve their objectives
    </p>
    <button type="button" class="btn btn-outline-primary">Contact Us</button>
  </div>
</div>

<!-- Events -->
<div class="container pt-3 pb-0 pb-xl-3">
  <div class="title">Upcoming Events</div>
  <div class="sub-text">Join us and learn about our ideas and innovations. </div>

  <div class="scroll-container">
    <div class="event-tile-row">

      <div class="event-tile">
        <div class="event-body">
          <div class="event-content">
            <div class="event-title">Insight Exchange Network</div>
            <div class="event-subtext">Join us for this conference showcasing innovation.</div>
            <button class="btn btn-outline-primary">Get More Insight</button>
          </div>
        </div>
        <div class="event-footer">
          <div class="event-places">Chicago, IL</div>
        </div>
        <div class="event-date">
          <div class="month">Jan</div>
          <div class="day">28</div>
        </div>
      </div>

      <div class="event-tile">
        <div class="event-body">
          <div class="event-content">
            <div class="event-title">Citywide Buyer's Retreat</div>
            <div class="event-subtext">Find our how banks are responding to the changing future of interest...</div>
            <button class="btn btn-outline-primary">Get More Insight</button>
          </div>
        </div>
        <div class="event-footer">
          <div class="event-places">The Wagner, New York</div>
        </div>
        <div class="event-date">
          <div class="month">Feb</div>
          <div class="day">12</div>
        </div>
      </div>

      <div class="event-tile">
        <div class="event-body">
          <div class="event-content">
            <div class="event-title">Research Exchange</div>
            <div class="event-subtext">Find the best online resources to help with your investments...</div>
            <button class="btn btn-outline-primary">Get More Insight</button>
          </div>
        </div>
        <div class="event-footer">
          <div class="event-places">London, England</div>
        </div>
        <div class="event-date">
          <div class="month">May</div>
          <div class="day">6</div>
        </div>
      </div>

    </div>
  </div>

  <div class="text-center d-block d-md-none mt-5">
    <img src="assets/images/acme-logo.png" width="50" height="50">
  </div>
</div>

<!-- Footer -->
<div class="footer-section d-none d-md-block">
  <div class="container py-2 d-flex align-items-center justify-content-between">
    <div>Call us at 111-222-333 <br> for more information</div>
    <div class="d-flex align-items-center">
      Social Share
      <div class="icons-row ml-2">
        <span class="material-icons mr-2">facebook</span>
        <span class="material-icons">mail</span>
      </div>
    </div>
  </div>
</div>

<div class="footer-section-links d-block d-md-none">
  <div class="container py-4 text-center">
    <div class="d-flex align-items-center">
      <a class="footer-links w-50 mr-2">Privacy Policy</a>
      <a class="footer-links w-50">Privacy Policy</a>
    </div>
    <a class="footer-links site-link d-block mb-2">Site Links</a>
    <a class="footer-links d-block">Home</a>
    <a class="footer-links d-block">About Us</a>
    <a class="footer-links d-block">Insights</a>
    <a class="footer-links d-block">Events</a>
    <a class="footer-links d-block">Due Diligence</a>
    <a class="footer-links d-block">Contacts</a>
  </div>
</div>
